Правила разработки:

- Унифицированный интерфейс по работе с криптобиржами
- Документация к каждой функции
- Sync + Async

Задачи на стрим:
1 - Получение списка тикеров (спот + фьючерсы)
2 - Открытый интерес (фьючерсы)
3 - Статистика 24ч
